
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


<form action="" method="post">
    <input type="text" name="Name" placeholder="Name" class="form-control" />
    <input type="text" name="Price" placeholder="Price" class="form-control" />
    <input type="text" name="Descriptiion" placeholder="Descriptiion" class="form-control" />
    <input type="submit" value="Create" class="btn btn-danger" />
</form>